HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDEs ###
.idea/
*.iws
*.iml
*.ipr
.vscode/

### Sistema operativo ###
.DS_Store
Thumbs.db

### Variables de entorno / secretos ###
.env
*.env.local
